

h1{
    text-align: center;
}
td,th{
    width: 100px;
    text-align: center;
}
table{
    border: 2px solid black;
}
.sno th{
    border: 2px solid black;
}
td{
    border: 2px solid;
    background-color: lightsalmon;
}
.days{
    background-color: lightgreen;
    border: 2px solid black;
}

.sno{
    background-color: lightseagreen;
}

td,th{
    padding: 10px;
}