body{
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
}

header{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 50px;
    
}

.header .user{
    margin-left: auto;   
}

.user-logo{
    height: 30px;   
}

.navbar{
    display: flex;
    gap: 80px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.user{
    margin-left: auto;
}

.dropdown{
    display: none;
    position: absolute;
    
}

.dropdown a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    background-color: hsl(0, 3%, 15%);
}

.user:hover .dropdown{
    display:block;
}

.dropdown a:hover{
    background-color: black;
}