div{
    background-color: pink;
    width: 100px;
    height: 100px;
    display: inline-block;
    display: none;
}

span{
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: inline; 
    display: none;
    
}


